body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;

}

#gallery {
  position: relative; 
}


.gallery-container {
  position: relative;
  max-width: 600px;
  margin: auto;
  text-align: center;
 
  top: 0;
}

#gallery img {
  width: 100%;
  display: none; 
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  background-color: rgba(0,0,0,0.5); 
}

.prev {
  left: 0; 
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8); 
}



 
.caption {
  color: #fff; 
padding: 10px;
position: absolute;
bottom: 0; 
left: 0; 
width: calc(100% - 20px); 
text-align: center;
background-color: rgba(0, 0, 0, 0.7); 
font-size: 1em; 
box-sizing: border-box; 
margin: 0 10px 10px; 
}

.read-more {
  display: block;
  margin-top: 8px;
  color: #0066cc; 
  text-decoration: none;
}
.read-more:hover {
  text-decoration: underline;
}