//=======================Begin of your CSS code================//

//=====================================================HOMEPAGE===================================================//
//Home About Mantises
main{
    display:flex;
    flex-direction: row;
    position:relative;
    
}
main h1{
    font-family:@fontFamilyHeader;
    font-size:@fontSizeTitles;
    color:#232323;
}
main h2,h3,h4,h5,h6{
    font-family:@fontFamilyTitle;
    font-size:@fontSizeTitles;
    color:#232323;
    }
main p{
    font-family:@fontFamilyMainText;
    font-size:@fontSizeMainText;
    line-height:1.5;
    text-indent: 50px;
    color:#232323;
}


#jHomePageAboutMantisesMenu{
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position:relative;
}
#jHomePageAboutMantisesMenu section{
margin-bottom:5em;  
}
.jHomePageMenuItemOverview{
    display:flex;
    flex-direction:column;
    width:100%;
    max-width: 130em;
    line-height:1.5;
    background-color:@colorFlowerOrange;
    padding:1em;
    padding-top:0em;
    align-items:center;
    
}
.jHomePageMenuItemOverview h1{
 text-align: center;
 width:50%;
 color:#232323;
}
.jHomePageMenuItemOverview p{
    text-align: justify;
    width:50%;
    color:#232323;
   }


.jHomePageMenuItem{
    max-width: 130em;
    margin-bottom:2.5em;
    width:65%;
    display:flex;
    flex-wrap:nowrap;
    height:20em;
    border-radius:5px 5px 5px 5px;
    position:relative;
    
   
}

.jHomePageMenuItem h2{
    width:70%;
   padding-top:0.5em;
   padding-bottom:0.5em;
    text-align: left;
    padding-left:3em;
    background-color:@colorFlowerOrange;
    transition:600ms linear;
    color:#232323;
}




.jHomePageMenuItem img{
width:35%;
height:auto;
}
.jHomePageMenuItemAddHeight{
  height:auto;
}


.jHomePageMenuItem p{
    line-height:1.5;
    text-align:justify;
    
}
.jHomePageContentAndReadMoreHolder{
    display:flex;
    flex-direction:column;
    width:90%;
    position:relative;
    flex-grow:0;
    flex-shrink:0;
}
.jHomePageMenuItemContent{
    flex-grow:1;
    position:relative;
    overflow:hidden;
    margin-top:1em;
    color:#232323;
    
}

.jAddPaddingRightToImg{
    padding-right:2em;
}
.jAddPaddingLeftToImg{
    padding-left:2em;
}


.jHomePageMenuItemContentFog::before{
    content:" ";
    position:absolute;
   width:100%;
   height:100%;
    background: linear-gradient(transparent 65%, white 95%;);
    bottom:0;
    right:0;
    left:0;
   top:0;
 
}
.jHomePageMenuItemContentFog::after{
    content:" ";
    position:absolute;
   width:100%;
   height:50%;
    bottom:0;
    right:0;
    left:0;
   backdrop-filter: blur(1px);
   z-index:10; 
}

.jHomePageMenuItemContent p{
    padding-left:10em;
    color:#232323;
}

.jHomePageReadMoreHolder{
    bottom:-3em;
    display:flex;
    justify-content:flex-start;
    position:absolute;
    flex-shrink: 0;
   padding-left:10em;
}
.jHomePageReadMore{
    font-weight:bold;
    background:none;
    color:#232323;
    border:none;
    font-weight:bold;
    opacity: 1;
    padding:0.5em;
    font-size:1em;
    transition: transform 0.3s ease-in-out;
}

.jHomePageReadMore:hover{
    
    cursor: pointer;
    opacity:0.5;
}
.jHomePageMinimizerHolder{
    margin-right:1em;
    flex-grow:1;
    height:100%;
    position:relative;
    display:none;
    justify-content: center;
 
}
.jHomePageMinimizer{
    position:sticky;
    top:1em;
    margin-bottom:2em;
    height:3em;
    width:3em;
    background:none;
    border:none;
    border-collapse: collapse;
    cursor: pointer;
    font-weight:bold;
    font-size:1em;
    line-height:0;
    
}


#jHomePageSideBar{
    flex-grow:1;
    display:flex;
   border-left:1px solid black;
   display:none;
}



@media only screen and (max-width: 850px) {
    #jHomePageSideBar{      
        display:none;      
    }
    .jHomePageMenuItem img{
           width:40%;
        }  
        #jHomePageAboutMantisesMenu{
            width:100%;
         }
   
}


@media only screen and (max-width: 650px) {
    #jHomePageSideBar{      
        display:none;      
    }
    .jHomePageMenuItem img{       
        width:100%;
        padding-left:0;
        padding-right:0;
        
        }
        #jHomePageAboutMantisesMenu{
           width:100%;
        }
   
}


//=======================END of your CSS code==================//
@import "master.less";