//The following less file holds all the variables for colors,font families e.t.c
//and it has been imported in every other less file (john.less,iro.less e.t.c)

//Also note that the import at these files is being located at the bottom in
//order to protect our members from overwriting by mistake any basic(html,body e.t.c) css code.

//Note also that the variables of less can be called in their css even if they are being
//located on the bottom of their css.

//colors:


@colorDarkGreen: rgb(136, 171, 142);

@colorLightGreen: rgb(175, 200, 173);

@colorSand: rgb(238, 231, 218);

@colorCreme: rgb(242, 241, 235);

@colorFlowerRed: rgb(201, 1, 29);

@colorFlowerOrange: rgb(237, 185, 67);

@colorMantisGreen: rgb(154, 243, 37);


//Fonts

//FontFamilies
@fontFamilyHeader: Helvetica, Arial;

@fontFamilyMainText: Helvetica, Arial;

@fontFamilyTitle: Helvetica, Arial;

//FontSizes

@fontSizeMainText: 16px;

@fontSizeTitles: 30px;


//Body,Html,headerNav and footer layout


html{
    height:100%;
    width:100%;

}
html,body{
    padding:0;
    margin:0;

}
*{box-sizing: border-box;}
body{
    min-height:100%;
    position: relative;
    background-color: @colorCreme;
}

//HeaderNav


#navbar_wrapper{
    position: absolute;
    top: 2em;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    left:0;
    right:0;
    width: fit-content;
}
nav{
    position: relative;
    display: block;
    // font-weight: bold;
    font-family: @fontFamilyHeader;
    width: 1200px;
}
.flex-container-navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flex-container div{
    
}


#block-main-menu a:link{
    color: @colorCreme;
    background-color: transparent;
    text-decoration: none;
    opacity: 0.7;
}
#block-main-menu a:hover{
    color: @colorCreme;
    background-color: transparent;
    text-decoration: underline;
    text-underline-offset: 3px;
    opacity: 1;
}
#menu_item_gallery{
    padding-top: 60px;
}
#menu_item_resources{
    padding-top: 60px;
}
#menu_item_faq{
    padding-top: 60px;
}
#menu_item_about{
    padding-top: 60px;
}
#menu_item_home img{
    top: 0;
}

//Landing Image

.imgbox{
    display: grid;
    height: 100%;
    object-fit: fill;
    position: relative;
}
.center-fit{
    min-width: 100%;
    max-height: 100vh;
    margin:auto;
}
    

footer{

}
