//The following less file holds all the variables for colors,font families e.t.c
//and it has been imported in every other less file (john.less,iro.less e.t.c)

//Also note that the import at these files is being located at the bottom in
//order to protect our members from overwriting by mistake any basic(html,body e.t.c) css code.

//Note also that the variables of less can be called in their css even if they are being
//located on the bottom of their css.

//colors:


@colorDarkGreen: rgb(136, 171, 142);

@colorLightGreen: rgb(175, 200, 173);

@colorSand: rgb(238, 231, 218);

@colorCreme: rgb(242, 241, 235);


//Fonts

//FontFamilies
@fontFamilyHeader: Helvetica, Arial;

@fontFamilyMainText: Helvetica, Arial;

@fontFamilyTitle: Helvetica, Arial;

//FontSizes

@fontSizeMainText: 16px;

@fontSizeTitles: 30px;


//Body,Html,headerNav and footer layout


html{
    height:100%;
    width:100%;

}
html,body{
    padding:0;
    margin:0;

}
*{box-sizing: border-box;}
body{
    min-height:100%;
   
}
#header_nav{

}
// Footer

.flex-container-footer{
    display: flex;
    flex-direction: row;
    background-color: @colorLightGreen;
    position:absolute;
    bottom:0;
    width:100%;
    height:32px;
}

.flex-container-footer div{
    margin:15px;
}

.flex-container-footer a:link{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.flex-container-footer a:hover{
    color: @colorDarkGreen !important;
    text-decoration: underline;
    
}

.flex-container-footer a:visited{
    text-decoration: none;
    color: black;
}
