//The following less file holds all the variables for colors,font families e.t.c
//and it has been imported in every other less file (john.less,iro.less e.t.c)

//Also not that the import at these files is being located at the bottom in
//order to protect our members from overwriting by mistake any basic(html,body e.t.c) css code.

//Note also that the variables of less can be called in their css even if they are being
//located on the bottom of their css.

//colors:
@myBaseColor:orange;



//FontFamilies


//Body,Html,headerNav and footer layout


html{
    height:100%;
    width:100%;

}
html,body{
    padding:0;
    margin:0;

}
*{box-sizing: border-box;}
body{
    min-height:100%;
   
}
#header_nav{

}
footer{

}
