//navbar and footer corrections for this page 

#menu_item_gallery{
    color: black;
}

footer{
    height:100%;
    position: relative;
    bottom:0;
}


//about page - yellow block (short introduction of the team)

.yada-wrapper{
    width: 100%;
    background-color: @colorFlowerOrange;
    position: relative;
    top: 15em;
    text-align: center;
}
h2{
    position: relative;
    top: 10.5em;
    text-align: center;
}
.images-wrapper{
    position: relative;
    top: 14em;
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    flex-wrap:wrap;
}

//flip cards for each of the team members


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    perspective: 1000px; 
  }
  
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
 
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  .flip-card-front img{
    height:100%;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
 
  .flip-card-back {
    text-align: center;
    padding: 50px 0;
    background-color: @colorFlowerOrange;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back h1{
    color:#5e4910;
  }

  .flip-card-back a:link{
    color:#a0a0a0;
    text-decoration: underline;
    text-underline-offset: 3px;
  }


  #giorgos{
    margin-bottom: 20em;
  }
  
//positioning of the flex items (images and the text to accompany them)

.images-wrapper #john, #iro, #anastasia, #giorgos{
    padding: 2em;
}

//=======================END of your CSS code==================//
@import "master.less";