/*styling for the entire document*/
  
    body {
      font-family: 'Arial';
      margin: 0;
      padding: 0;
      background: linear-gradient(45deg, #fca3cc, #fcb2bf, #fcdcb6, #fcfcb8, #ccfcff, #b2e3fc, #b2ccfc, #cdb2fc);
      color: #000000;
    }

 /*Styling for the header section*/
    header {
      background-color: #fca3cc; 
      color: #fff; 
      text-align: center;
      padding: 20px 0;
      position: relative;
      
    }

 /* Styling for the main content section */

    main {
      padding: 30px;
    }

 /*Styling for each about section */
    .about-section {
      margin-bottom: 35px;
      background-color: rgba(255, 255, 255, 0.9); 
      padding: 20px;
      border-radius: 20px;
 
    }

/*Styling for the section titles*/
    .section-title {
      color: #fca3cc;
      text-transform: uppercase;
      font-size: 25px;
      margin-bottom: 10px;
    }

/*Styling for the footer section*/ 
    footer {
      background-color: #cdb2fc; 
      color: #fff; 
      text-align: center;
      padding: 10px;
      width: 100%;
    }

/*Styling for a decorative element in the footer*/
    footer:before {
     
      font-size: 25px;
      display: block;
      margin-bottom: 5px;
      color: #fca3cc; 
    }

