.dev-line {
    display:inline;
    font-size: 3em;
    font-family: Montserrat;
    text-decoration: underline;
    background-color: aqua;
}

// .main_img_wrapper{
//     background-color: black;
// }


span {
    border-right: 0.4em solid;
    animation: caret 1s steps(1) infinite;
}

@keyframes caret{
    50% {
        border-color: transparent;
    }
}